@charset "utf-8";
/* CSS Document */

.mainCalendar{
	position:relative;
	margin-left:0px;

}
.calendarDayHeading, .calendarDay, .calendarNotDay, .calendarEventDay{
	position:absolute;
	margin:0;
	padding:0;
	z-index:1;
	border:solid;
	border-width: 0px 0px 1px 0px;
	border-color:#AAA;
}
.calendarDay, .calendarNotDay{
	text-align:center;
}
.calendarDayHeading{
	background-color:#333;
	color:#FFF;
	text-align:center;
	font-size:12px;
}
.calendarEventDay{
	background-color:#D3D6FF;
	font-size:9px;
	color:#000;
	line-height:10px;
	text-align:left;
	border-color:#f60;


}
.calendarEventDay a{
	display:block;
	overflow:hidden;
}
.calendarEventDayDayMouseover{
	display:none;
	text-align:center;
	background-color:#E0E2FF;
	color:#000;
	margin-left:-4px;
	margin-right:-4px;
	margin-top:-5px;
    border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    -khtml-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
	}
.calendarEventMouseover .calendarEventDayDayMouseover{
	display:block;
}

.calendarEventMouseover{
	font-size:14px;
	font-variant:small-caps;
	line-height:15px;
	padding:4px;
	background-color:#FFF;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
	overflow:auto;

}
.calendarEventMouseoverDesc{
	display:none;
	font-variant:normal;
	margin-top:4px;
	font-size:14px;

}
.calendarEventMouseover .calendarEventMouseoverDesc{
	display:block;
}
.calendarEventMouseover a {
	display:inline;
}
.calendarEventMouseover .calendarEventDayDate{
	display:block;
	position:absolute;
	left:-2000px;
	top:0px;

}
.calendarEventDayDate{
	font-size:10px;
	font-weight:bold;
	color:#fafafa;
	background-color:#333;
	margin-left:-1px;
}
.calheader a, .calmenu a {
	cursor:pointer;

}
.calmenu a {
	color:#CCC;
}
.calheader a:hover, .calmenu a:hover {
	color: #ff0000; 
}
.calheader a:active, .calmenu a:active{
	color: #fff;

}
.calheader a, .calcatmenu a{
		color: #060;
}


.eventListHeadline {
	display:block;
	font-variant:small-caps;
	font-weight:bold;
	font-size:22px;
	letter-spacing:0.5px;
	padding-bottom:16px;
	padding-top:6px;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #bddb47;
	background-color:#fcfcfb;
	}





#eventsedit input, #eventsedit select, #eventsedit textarea {
	margin-left:20px;
	margin-bottom:10px;
}